<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <!--CONECTAR A LA BASE DE DATOS-->
  <connectionStrings>
    <add name="FdicoDB" connectionString="Data Source=JHONMALDONADO\SQLEXPRESS;Initial Catalog=FDICO_DB_Bulevar;User ID=sa;Password=Sk1Gr0up2019;"/>
    <add name="ParkDB" connectionString="Data Source=JHONMALDONADO\SQLEXPRESS;Initial Catalog=PARK_DB_Bulevar;User ID=sa;Password=Sk1Gr0up2019;"/>
  </connectionStrings>
  
</configuration>